influxdb_host: "{{ influxdb_host | default("localhost") }}"
influxdb_port: "{{ influxdb_port | default("8086") }}"
influxdb_user: "{{ influxdb_user | default("root") }}"
influxdb_pass: "{{ influxdb_pass | default("root") }}"
influxdb_db: "{{ influxdb_db }}"
