[Unit]
Description=NVML Agent
After=network.target

[Service]
Type=simple
Environment="NVML_LOG_CFG=/etc/nvml-agent/logging.yaml"
Environment="NVML_INFLUX_CFG=/etc/nvml-agent/conf.yaml"
ExecStart=
ExecStart=/etc/nvml-agent/start $NVML_LOG_CFG $NVML_INFLUX_CFG
Restart=always
StartLimitInterval=0
RestartSec=5
PIDFile=/run/nvml_agent.pid

[Install]
WantedBy=multi-user.target